@font-face {
    font-family: "Roboto Regular";
    src: url("/static/fonts/Roboto-Regular.ttf");
}

:root{
    --red: #BE2F21;
    --darkred: #9D251A;
    --lighter: #F6F6F6;
    --grey: #797979;
}

.specialitiesInfo{
    width: 80%;
}

.card-header{
    background-color: white;
    padding-left: 0px;
    font-size: 1.7rem;
}

.card {
    border: none;
}

#accordion{
    border: none;
}

html{
    font-size: 18px;
}

body {
    font-family: Roboto Regular;
    padding: 0px;
    margin: 0px;
    overscroll-behavior-y: contain;
    min-width: 740px;
}

.header {
    height: fit-content;
    background-color: #9D251A;
    color: white;
    font-size: 1.9rem;
    line-height: 1.75rem;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
}

.aboutUniversity{
    width: 80%;
}

.card-header:hover{
    cursor: pointer;
}

p{
    width: 80%;
}

h2{
    padding-top: 20px;
    width: 80%;
    font-size: 2rem;
}

h3{
    padding-top: 20px;
    width: 80%;
    font-size: 1.7rem;
}

.initContainer{
    margin-top: 20px;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.buttonBgImage{
    width: 100%;
    height: 100%;
    text-align:center;
    line-height: 100px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}

.initOptionText{
    color: white;
    width: 50%;
}

.initOption{
    font-size: 2rem;
    width: 50%;
    text-align: center;
}

.initOption span{
    color: white;
    font-size: 2rem;
    line-height: 2.7rem;
}

.coderButtonBgImage{
    background-image: url("../images/coder.jpeg");
    background-position: center;
}

.designerButtonBgImage{
    background-image: url("../images/designer.jpg");
    background-position: center;
}

.designerButtonBgImage:hover{
    filter: blur(0px);
}

#container{
    width: 80%;
    font-size:1.8rem;
    padding: 30px;
}

.questionHeader{
    width:100%;
    height: fit-content;
}

.answersForm{
    margin-top: 1.5rem;
}

.progressBar{
    width: 100%;
    height: 2px;
    background-color: black;
}

.blackBlock{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    transition: background-color;
    transition-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blackBlock:hover{
    background-color: rgba(0,0,0,0);
}

.blackBlock span{
    text-shadow: black 3px 2px 3px;
}

.progressBarValue{
    height: 100%;
    background-color: var(--red);
}

.radioButton{
    width: 2rem;
    height: 2rem;
}

.radioContainer{
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}

.radioContainer label{
    margin-left: 1rem;
    width: 90%;
}

#nextQuestion{
    width: auto;
    height: auto;
    color: white;
    margin: 3rem 3rem 3rem;
    padding: 0.7rem;
    background-color: var(--red);
    font-size: 1.8rem;
    border-radius: 10px;
}

.separator{
    height: 2px;
    width: 100%;
    background-color: grey;
}

@media screen and (orientation:portrait) {
    .initContainer{
        flex-direction: column;
        align-items: flex-end;
    }

    .blackBlock span{
        font-size: 2rem;
    }

    .initOption{
        width: 100%;
        height: 100%;
    }

    #container{
        width: 90%;
        padding: 30px;
    }

    .header{
        width: 100%;
        padding-left: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h2{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 80%;
        font-size: 2rem;
    }

    h3{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 80%;
        font-size: 1.7rem;
    }

    html{
        font-size:18px;
    }

    .radioContainer label{
        font-size: 1.75rem;
    }

    .aboutUniversity p{
        padding-left: 0px;
    }
    .aboutUniversity h3{
        padding-left: 0px;
    }

    .specialitiesInfo, .aboutUniversity, .mainBlock h2, .mainBlock h3{
        width: 90%;
    }

}